@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.download-p{
  margin-bottom: 5em !important;
}

.contact{
  letter-spacing : 0.5em;
}

@media (max-width: 310px) { 
  .contact{
    letter-spacing : initial;
  }
  
 }